/* body {
    margin: 0;
    background: #000; 
  } */

.about_us_main{
  height: 100vh;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-top: 80px;
}
.vid_about_us {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

.parallax_effect {
  border-radius: 4px;
  width: 40vw;
  max-width: 460px;
  height: 78vh;
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

.stopfade {
  opacity: .5;
}

.pol {
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight: 100;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 3vh 3.5vw;
  min-width: 300px;

  width: 40vw;
  max-width: 460px;
  margin-right: 4vw;
  margin-top: 20vh;
  margin-bottom: 25vh;
  float: right;
  border-radius: 5px;
}

.h1_text {
  font-size: 4.2vw;

  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem;
  transform: translateZ(40px);
}


.a_ {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.5);
  padding: .5rem;
  transition: .6s background;
}

.a_:hover {
  background: rgba(0, 0, 0, 0.9);
}
@media screen and (max-width: 768px) {
  .h1_text{
    font-size: 32px;
  }

  .pol{
    margin-top: 12vh;
    /* width: ; */
  }
}