/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap'); */

.about-container
{
	/* background-image: url(images/bg_f.png); */
	background-color: black;
	min-height: 100vh;
	
}


.aboutus
{
	display: inline-flex;	
	justify-content: space-between;
	margin-top: 50px;
}
 .content
{
	height: 100px;
	width: 40%;
	margin-left: 78px;
	margin-top: 60px;
}

.about-image
{
	height: 250px;
	width: 40%;
	margin-left: 260px;
	margin-top:50px;
}

.magic-hand
{
	height: 400px;
	width: 600px;
	position: relative;
	bottom: 80px; 
	
} 


.aftermovie
{
	display: flex;
	flex-direction: column;
	margin-top: 20vh;
	align-items: center;
}

.afterMovie-frame{
	height: 70vh;
	width: 80vw;;
}

.socialmedia
{
	width: 100%;
	padding:10px 10px 30px 10px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.about-container .socialmedia i
{
	color:#a52a2a;
	font-size: 30px;
	padding:0px 10px;
}
.about-container .social i:hover{
	color:#3d3d3d;
}


@media screen and (max-width: 990px){

	.about-container
	{
		min-height: 100vh;
	}
	.about-image
	{
		display: none;
	}

	.content
{
	
	width: 100%;
	margin-left: 25PX;
	margin-right: 25PX;
	
}

.socialmedia
{
	width: 100%;
	margin-left:0 !important;
	
	padding:10px 10px 30px 10px;
	position: relative;
	/* bottom: 50px; */
	margin: 0 auto;
	

}
.afterMovie-frame{
	height: 30vh;
	width: 80vw;;
}
.aftermovie{
	margin-top: 111vh;
}

}





/*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}


.bg{
	background-color: black;
	/* background-size:100% ; 
	background-size: cover;
	background-position: center;
	background-color: black !important;
	width: 100%;
	min-height:100vh;
}

.afterMovieSection
{ 
	color:aliceblue;
	position: relative;
	top: 150px;
	margin-left: 95px;
}
.container2{
	display: flex;
    width: 80%;
	min-height: 100%;
    /* display: block; 
    margin: auto;
	padding-top: 73px;
    justify-content: space-between;

}
.helooo
{
	height: 400px;
	width: 600px;
}
.content-section{
	
	float: left;
	width: 55%;
}
.image-section{
	float: right;

}
.image-section img{
	width: 100%;
}
.content-section .title{
	text-transform: uppercase;
	font-size: 28px;
}
.content-section .content h3{
	margin-top: 20px;
	/*color:#5d5d5d;
	font-size: 21px;
}
.content-section .content p{
	margin-top: 10px;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5;
}
.content-section .content .button{
	margin-top: 30px;
}
.content-section .content .button a{
	/*background-color: #3d3d3d;
	padding:12px 40px;
	text-decoration: none;
	color:#fff;
	font-size: 25px;
	letter-spacing: 1.5px;
}
.content-section .content .button a:hover{
	background-color: #a52a2a;
	color:#fff;
}
.content-section .social{
	margin: 40px 40px;
}
.content-section .social i{
	color:#a52a2a;
	font-size: 30px;
	padding:0px 10px;
}
.content-section .social i:hover{
	color:#3d3d3d;
}
.social
{	
	
}


@media screen and (max-width: 768px){
	.container2{
	width: 80%;
	display: block;
	margin:auto;
	padding-top:50px;
}
.content-section{
	float:none;
	width:100%;
	display: block;
	margin-top: 79px;
}
.image-section{
	float:none;
	width:100%;
	
}
.image-section img{
	width: 100%;
	height: auto;
	display: block;
	margin:auto;
}
.content-section .title{
	text-align: center;
	font-size: 19px;
}
.content-section .content .button{
	text-align: center;
}
.content-section .content .button a{
	padding:9px 30px;
}
.content-section .social{
	text-align: center;
}
}*/