/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap'); */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css?family=Varela+Round");
@font-face {
  font-family: "Telefon Black";
  src: url("https://raw.githubusercontent.com/arnabmunshi/fontface/master/TelefonBlack/Telefon-Black.woff2")
      format("woff2"),
    url("https://raw.githubusercontent.com/arnabmunshi/fontface/master/TelefonBlack/Telefon-Black.woff")
      format("woff");
  font-weight: 900;
  font-style: normal;
}

.clubinfo-container {
  /* background-image: url(images/bg_f.png); */
  /* background-color: black;  */
  min-height: 100vh;
}

.clubinfous {
  display: inline-flex;
  justify-content: space-between;
  margin-top: 50px;
}
.content-clubinfo {
  height: 100%px;
  width: 90%;
  margin-left: 78px;
  margin-top: 60px;
}

/*IMAGES*/
.Photography-club {
  padding-top: 80px;
}
.post-image-Photog {
  height: 300px;
  width: 300px;
  position: relative;
  float: right;
  padding-left: 20px;
  margin: 20px 12px 3px 4px;
}

.post-image-spic {
  height: 300px;
  width: 300px;
  position: relative;
  float: right;
  padding-left: 20px;
  margin: 1px 12px 3px 4px;
}
.post-image-sponsor {
  height: 300px;
  width: 300px;
  position: relative;
  float: right;
  padding-left: 20px;
  margin: 0px 10px 30px 4px;
}
.post-image-pg {
  height: 300px;
  width: 300px;
  position: relative;
  float: right;
  padding-left: 20px;
  margin: 20px 10px 30px 4px;
}
.post-image-elad {
  height: 300px;
  width: 300px;
  position: relative;
  float: right;
  padding-left: 20px;
  margin: 0px 10px 30px 4px;
}

.post-image-ava {
  height: 300px;
  width: 300px;
  position: relative;
  float: right;
  padding-left: 20px;
  margin: 10px 10px 30px 4px;
}
.post-image-mad {
  height: 300px;
  width: 300px;
  position: relative;
  float: right;
  padding-left: 20px;
  margin: 150px 10px 30px 4px;
}
.post-image-hlad {
  height: 300px;
  width: 300px;
  position: relative;
  float: right;
  padding-left: 20px;
  margin: 20px 10px 30px 4px;
}

.post-image-colors {
  height: 300px;
  width: 300px;
  position: relative;
  float: right;
  padding-left: 20px;
  margin: -10px 10px 30px 4px;
}

.post-image-fa {
  height: 300px;
  width: 300px;
  position: relative;
  float: right;
  padding-left: 20px;
  margin: 10px 10px 30px 4px;
}

.post-heading {
  font-family: TelefonBlack;
  font-size: 30px;
  padding-left: 30px;
  padding-top: 30px;
}

/*post*/

.post-content-Photog {
  font-family: Poppins;
  font-size: 16px;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 150px;
  text-align: justify;
}
.post-content-spic {
  font-family: Poppins;
  font-size: 16px;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 150px;
  text-align: justify;
}
.post-content-sponsor {
  font-family: Poppins;
  font-size: 16px;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 150px;
  text-align: justify;
}
.post-content-pg {
  font-family: Poppins;
  font-size: 16px;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 150px;
  text-align: justify;
}
.post-content-elad {
  font-family: Poppins;
  font-size: 16px;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 150px;
  text-align: justify;
}
.post-content-ava {
  font-family: Poppins;
  font-size: 16px;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 150px;
  text-align: justify;
}
.post-content-fa {
  font-family: Poppins;
  font-size: 16px;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 150px;
  text-align: justify;
}
.post-content-hlad {
  font-family: Poppins;
  font-size: 16px;
  padding-left: 30px;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 150px;
  text-align: justify;
}
.post-content-mad {
  font-family: Poppins;
  font-size: 16px;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 150px;
  text-align: justify;
}
.post-content-colors {
  font-family: Poppins;
  font-size: 16px;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 150px;
  text-align: justify;
}
/* .post-image {
  height: 300px;
  width: 300px;
  float: left;
  margin: 0px 12px 0px 400px;
} */
/* .post-image {
  height: 250px;
  width: 40%;
  margin-left: 260px;
  margin-top: 50px;
}

.club-image {
  height: 400px;
  width: 600px;
  position: relative;
  bottom: 80px;
} */
/* img.border {
  border: 6px solid #eee7df;
}

img.alignleft {
  float: right;
  margin-left: 25px;
}

img.alignright {
  float: right;
}

img.aligncenter {
  margin: 0px auto;
} */
/* 
.aftermovie {
  display: flex;
  flex-direction: column;
  margin-top: 20vh;
  align-items: center;
}

.afterMovie-frame {
  height: 70vh;
  width: 80vw;
}

.socialmedia {
  width: 100%;
  padding: 10px 10px 30px 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.socialmedia img {
  width: 40px;
  height: 40px;
  margin: 5px 20px;
  border: 0;
  border-radius: 25%;
}
.socialmedia img:hover {
  box-shadow: 2px 2px 30px 1px rgb(221, 243, 116);
}

.about-container .socialmedia i {
  color: #a52a2a;
  font-size: 30px;
  padding: 0px 10px;
}
.about-container .social i:hover {
  color: #3d3d3d;
} */

.clubinfo-icons i {
  color: white;
  margin-right: 30px;
}
.clubinfo-icons i:hover {
  background-color: rgb(92, 89, 89);
 
}

.clubinfo-icons ul li {
  display: inline-block;
}

.clubinfo-icons-hlad {
  margin-top: -130px;
  margin-bottom: 100px;
}
.clubinfo-icons-hlad i {
  color: white;
  margin-right: 30px;
}
.clubinfo-icons-hlad i:hover {
  background-color: rgb(92, 89, 89);
 
}

.clubinfo-icons-hlad ul li {
  display: inline-block;
}


.clubinfo-icons-colors {
  margin-top: -130px;
  margin-bottom: 100px;
}
.clubinfo-icons-colors i {
  color: white;
  margin-right: 30px;
}
.clubinfo-icons-colors i:hover {
  background-color: rgb(92, 89, 89);
 
}

.clubinfo-icons-colors ul li {
  display: inline-block;
}





@media screen and (max-width: 990px) {
  .clubinfo-container {
    min-height: 100vh;
    width: 110%;
  }
  .about-image-clubinfo {
    display: none;
  }

  .content-clubinfo {
    width: 90%;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }
  .post-image-Photog {
    height: 200px;

    width: 200px;
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: -20px;
  }
  .post-image-spic {
    height: 200px;

    width: 200px;
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: -20px;
  }
  .post-image-pg {
    height: 200px;

    width: 200px;
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: -20px;
  }
  .post-image-sponsor {
    height: 200px;

    width: 200px;
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: -20px;
  }
  .post-image-ava {
    height: 200px;

    width: 200px;
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: -20px;
  }
  .post-image-fa {
    height: 200px;

    width: 200px;
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: -20px;
  }
  .post-image-elad {
    height: 200px;

    width: 200px;
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: -20px;
  }
  .post-image-hlad {
    height: 200px;

    width: 200px;
    margin-top: 30px;
    margin-left: 0px;
    margin-bottom: 20px;
  }
  .post-image-mad {
    height: 200px;

    width: 200px;
    margin-top: 30px;
    margin-left: 0px;
    margin-bottom: -20px;
  }
  .post-image-colors {
    height: 200px;

    width: 200px;
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: -20px;
  }
  .post-heading {
    width: 100%;
  }
  /* .photographyclub {
    flex-flow: row wrap;
  }
 


  /* 
  .socialmedia {
    width: 100%;
    margin-left: 0 !important;

    padding: 10px 10px 30px 10px;
    position: relative;
    /* bottom: 50px; 
    margin: 0 auto;
  }
  .afterMovie-frame {
    height: 30vh;
    width: 80vw;
  }
  .aftermovie {
    margin-top: 77vh;
  }

  .about-container .socialmedia i {
    color: #a52a2a;
    font-size: 30px;
    padding: 0px 10px;
  } */
}
