@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css?family=Varela+Round");
@font-face {
  font-family: "Telefon Black";
  src: url("https://raw.githubusercontent.com/arnabmunshi/fontface/master/TelefonBlack/Telefon-Black.woff2")
      format("woff2"),
    url("https://raw.githubusercontent.com/arnabmunshi/fontface/master/TelefonBlack/Telefon-Black.woff")
      format("woff");
  font-weight: 900;
  font-style: normal;
}

.event_date {
  position: absolute;
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 63%;
  color: black;
}
.event_date .event_name {
  color: black;
}

#event_description {
  color: black;
  font-size: 20px;
}

.date {
  font-size: 20px;
}

.event_time img {
  height: 80%;
}

.main_container_event{
  position: fixed;
  height: 80vh;
  width: 50vw;
}