.main {
    margin: 0px;
    overflow-x: hidden;
  }
  .footer {
    background: #000;
    padding: 30px 0px;
    font-family: "Play", sans-serif;
    text-align: center;
  }
  
  .row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: gray;
    font-size: 0.8em;
  }
  
  .a_class {
    text-decoration: none;
    color: gray;
    transition: 0.5s;
  }
  
  .a_class:hover {
    color: #fff;
  }
  
  .ul_class {
    width: 100%;
  }
  
  .li_class {
    display: inline-block;
    margin: 0px 30px;
  }
  
  .icn {
    font-size: 2em;
    margin: 0% 1%;
  }
  
  @media (max-width: 720px) {
    .footer {
      text-align: left;
      padding: 5%;
    }
    .li_class {
      display: block;
      margin: 10px 0px;
      text-align: left;
    }
    .icn {
      margin: 0% 3%;
    }
  }