.navigation{
    background: #efe8d2;
    width: 100vw;
    position: fixed !important; 
}

  .navigation::after {
    content: "";
    background: rgba(0, 0, 0, 0) linear-gradient(rgba(39, 48, 83, 0.1) 0%, rgb(109 37 27) 100%) repeat scroll 0% 0%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 10px;
    left: 5px;
    margin-bottom: -5px;
    width: 99.4%;
    z-index: 0;
  }

  .container{
    z-index: 1;
  }

.bgMedia1{
    position: absolute;
    top: 55px;
    left: -1px;
}

.bgMedia1 img{
    width: 100vw;
}

.navbar-toggler-icon{
    background-color: #151c39 !important;
}

.navbar-collapse{
}

.nav-item{
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

.nav-link{
    color: #c4c1c1cc !important;
    font-size: 1.1rem !important;
    font-weight: 200 !important;
}

.nav-link:hover{
    color:rgb(255, 255, 255) !important;
}

.active{
    color:rgb(255, 255, 255) !important;
}

.nav-link.login-nav-btn{
    background-color: rgb(0, 0, 0) !important;
    color: #c4c1c1cc !important;
}

.nav-link.login-nav-btn:hover{
    color: rgb(255, 255, 255) !important;
}


@media (max-width:768px) {

    .bgMedia1 {
        top: 80px;
    }
}

@media (max-width:425px) {

    .bgMedia1 {
        top: 90px;
    }
}