.navigation{
    background-color: #000000 !important;
    /* border-radius: 0px 0px 20px 20px; */
    /* position: fixed !important; */
    min-width: 100vw;
    position: fixed;
}

.navbar-toggler-icon{
    background-color: #000000 !important;
}

.navbar-collapse{
    background-color: #000000 !important;
}

.nav-item{
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

.nav-link{
    color: rgb(136, 136, 136) !important;
    font-size: 1.1rem !important;
    font-weight: 700 !important;
}

.nav-link:hover{
    color:rgb(255, 255, 255) !important;
}

.active{
    color:rgb(255, 255, 255) !important;
}

.nav-link.login-nav-btn{
    background-color: rgb(0, 0, 0) !important;
    color: rgb(136, 136, 136) !important;
}

.nav-link.login-nav-btn:hover{
    color: rgb(255, 255, 255) !important;
}