.bg-img{
    width: 100vw;
    height: 100vh;
    
}
@media only screen   
and (min-device-width : 768px)   
and (max-device-width : 1600px)  {
    .earth {
       
        background-image: url("./video1.gif");
        
    background-color: #000;
    /* padding: 79px; */
    background-position: 23%;
    background-repeat: no-repeat;
    /* background-size: cover !important; */
    /* background-size: contain; */
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100vw;
    }
}
@media only screen and (max-width: 768px ) {
    .bg-img{
        background-position: center;
        background-size: contain;
    }
  
    .earth {
        /* margin-top: 56px !important; */
        background-color: #000;
        background-image: url("./video2.gif")!important;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover !important;
        background-size: contain;
        height: 100vh;
        position: fixed;
        top: 0;
        width: 100vw;
     
    }
}
