
.input1 {position: absolute; display: none}

.container1{
  padding-top: 10vh !important;
}

.teamText{
  text-align: center;
  font-size: 48px;
  margin-top: 20px;;
  
}
.team-confluence{
  height: 20vh;
  width: 34vw;
  /* transform: rotateY(90); */
}

.detailsBox{
  display: flex;
  flex-direction: column;
  width: 70vw;
  margin-top: 20px;;
}

.detailsBoxHeading{
  text-align: center;
}

.detailsBoxHeading > p{
  margin-left: auto;
  font-size: 3rem;
}
.details
{
  /* margin-right: 300px; */
  display: flex;
  justify-content: space-between;
  /* height: 100vh; */
  /* width: 70vw; */
  /* background-color: #03A9F4; */
  flex-wrap: wrap;

}
.teamCard{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10vh !important;
  
}

.teamCardDesc{
  margin-top: 30px;
}

.teamCardDesc p{
  color: aliceblue;
 text-align: center;
 margin-left: auto;
}

.details > div{
  flex: 45%;
  margin: 20px;
}
.photoo{
  margin: 0 auto;
  border: 6px solid #c19a00;
}

.container1
{
  display:flex;
  justify-content: center;
  position: relative;
  margin-top: 15px;
}
.photoo
{
  height: 200px;
  width: 200px;
  border-radius:60%;
  position: relative;
}


.conflu_logo
{
  background: #212121;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.club_logo
{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}


.menu {
margin: 0 auto;
position: relative;
top: 30vh;
margin-left: 15vw;
width: 25vw;
float: left;
height: fit-content;
}

.btn1 {
width: 90px;
height: 90px;
border-radius: 70px;
position: absolute;
overflow: hidden;
cursor: pointer;
}

.conflu-btn{
  margin-top: -30px;
}

.material-icons.md-36 { font-size: 36px; color: #03A9F4 }

.btn1 {
background:#212121;
font-size: 15px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;

box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
cursor: auto;

}

.logoBtn{
  cursor: pointer;
}

.logoBtn:hover{
  
}

.btn1:not(:first-child) {
opacity: 0;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
z-index: 1;

-webkit-transition: all 0.6s cubic-bezier(.87,-.41,.19,1.44);
transition: all 0.6s cubic-bezier(.87,-.41,.19,1.44);
}

input#toggle:checked ~ #show-menu .btn1:nth-child(2) {
top:-220px;left:10px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked ~ #show-menu .btn1:nth-child(3) {
top:-70px;left:188px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked ~ #show-menu .btn1:nth-child(4) {
left:188px;top:40px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked ~ #show-menu .btn1:nth-child(5) {
top :140px;left:120px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked ~ #show-menu .btn1:nth-child(6) {
top:190px; left:10px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked ~ #show-menu .btn1:nth-child(7) {
top:135px;left:-120px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked ~ #show-menu .btn1:nth-child(8) {
top: 30px;left:-180px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked ~ #show-menu .btn1:nth-child(9) {
top:-80px;left:-180px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}


input#toggle:checked ~ #show-menu .btn1:nth-child(10) {
  top: -178px;left:-110px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
input#toggle:checked ~ #show-menu .btn1:nth-child(11) {
  top:-170px;left: 120px;;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.menuBtn, .closeBtn {
position: absolute;
transition: all 0.3s ease;
}

.closeBtn {
transform: translateY(50px);
opacity: 0;
}

input#toggle:checked ~ #show-menu .btn1 .menuBtn {
transform: translateY(-50px);
opacity: 0;
}

input#toggle:checked ~ #show-menu .btn1 .closeBtn {
transform: translateY(0px);
opacity: 1;
}
 

@media only screen and (max-width: 768px ) {

  .container1{
    padding-top: 5vh !important;
  }
  .team-confluence{
    height: 20vh;
    width: 90vw;
    /* transform: rotateY(90); */
  }
  .container1{
      display: flex;
      flex-direction: column;
  }
  .detailsBox{
      width: 100vw;
      margin-top: 70vh;
  }
  .menu {
    
      margin: 0 auto;
      margin-left: 41vw;
  }
   .btn1
  {
      height: 70px;
      width: 70px;
  }

  .club_logo
  {
      height: 70px;
      width: 70px;
  }

  input#toggle:checked ~ #show-menu .btn1:nth-child(2) {
    top:-190px;left:0px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
    
    input#toggle:checked ~ #show-menu .btn1:nth-child(3) {
    top:-60px;left:158px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
    
    input#toggle:checked ~ #show-menu .btn1:nth-child(4) {
    left:158px;top:40px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
    
    input#toggle:checked ~ #show-menu .btn1:nth-child(5) {
    top :120px;left:90px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
    
    input#toggle:checked ~ #show-menu .btn1:nth-child(6) {
    top:160px; left:0px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
    
    input#toggle:checked ~ #show-menu .btn1:nth-child(7) {
    top:115px;left:-100px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
    
    input#toggle:checked ~ #show-menu .btn1:nth-child(8) {
    top: 20px;left:-160px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
    
    input#toggle:checked ~ #show-menu .btn1:nth-child(9) {
    top:-70px;left:-160px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
    
    
    input#toggle:checked ~ #show-menu .btn1:nth-child(10) {
      top: -158px;left:-100px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
    input#toggle:checked ~ #show-menu .btn1:nth-child(11) {
      top:-160px;left: 110px;;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
}


@media only screen and (max-width: 1208px ) and (min-width: 761px){
  .menu {
    
      margin: 0 auto;
      margin-left: 25vw;
  }
}
 

     
