
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}
.external {
  overflow: hidden;
  height: 100vh;
}

.horizontal_scroll_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vh;
  transform: rotate(-90deg) translate3d(0, -100vh, 0);
  transform-origin: right top;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
  height: 100vw;
  perspective: 1px;
  transform-style: preserve-3d;
  padding-bottom: 10rem;
}

.img_wrapper {
  transform: rotate(90deg);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
  transform-origin: 50% 50%;
  transform: rotate(90deg) translateZ(0.1px) scale(0.9) translateX(10vh)
    translateY(15vh);
  transition: 2s;
}

.img_wrapper:hover {
  min-height: 65vh;
}

.slow {
  transform: rotate(90deg) translateZ(-0.2px) scale(1.1) translateX(0vh)
    translateY(-10vh);
}
.slow1 {
  transform: rotate(90deg) translateZ(0.5px) scale(0.5) translateX(30vh)
    translateY(10vh);
}
.slow2 {
  transform: rotate(90deg) translateZ(-0.3px) scale(1.5) translateX(0vh)
    translateY(2vh);
}
.slow3 {
  transform: rotate(90deg) translateZ(0.2px) scale(0.8) translateX(2vh)
    translateY(12vh);
}
.faster {
  transform: rotate(90deg) translateZ(0.15px) scale(0.8) translateX(-10vh)
    translateY(14vh);
}
.faster1 {
  transform: rotate(90deg) translateZ(0.05px) scale(0.8) translateX(0vh)
    translateY(0vh);
}
.faster2 {
  transform: rotate(90deg) translateZ(0.02px) scale(0.8) translateX(5vh)
    translateY(-5vh);
}
.slow4 {
  transform: rotate(90deg) translateZ(0.15px) scale(0.9) translateX(2vh)
    translateY(8vh);
}
.slow5 {
  transform: rotate(90deg) translateZ(0.4px) scale(0.5) translateX(0vh)
    translateY(-8vh);
}

.horizontal_scroll_wrapper a {
  color: inherit;
  font-weight: 500;
}
.horizontal_scroll_wrapper h1 {
  font-weight: 300;
  font-size: 1rem;
}

.horizontal_scroll_wrapper a {
  overflow: hidden;
  display: block;
  padding: 1vh;
  color: #fff;
  background:white;
}

.horizontal_scroll_wrapper img {
  max-width: 60vh;
  max-height: 60vh;
  transition: 0.5s;
  vertical-align: top;
  filter: saturate(40%) sepia(30%) hue-rotate(5deg);
}
.horizontal_scroll_wrapper a:hover img {
  filter: none;
}
