@font-face { 
  font-family: 'Rambors';
  src: url('./Rambors.woff') format('woff');
  }

.main_container_app1{
    cursor:"default";
    min-height: 100vh;
    min-width: 100vw;
    font-family: Rambors;
}

@media screen and (max-width: 400px) {
  .main_container_app1 {
    height: 120vh;
    width: 120vw;
  }
}